[2012-11-15 18:01] chillu opened #1 "Implement `behat --init @<module>`"
See https://github.com/Behat/Symfony2Extension/blob/master/src/Behat/Symfony2Extension/Console/Processor/InitProcessor.php

[2013-05-15 21:37] chillu opened #2 "Advanced fixture definitions"
Has been started with https://github.com/silverstripe/sapphire/pull/1005

[code]

Discussion: https://groups.google.com/d/msg/silverstripe-dev/LLE2rOsgcFc/SFMHbpLwxJkJ

[2013-05-15 21:38] chillu opened #3 "Record screencast with testing a simple site"

[2013-06-05 13:37] #2 closed, assigned to chillu

[2013-09-26 09:15] chillu opened #6 "JS stacktrace"
We catch `window.onerror`, but only output the message, which isn't very helpful and makes for a lot of Heisenbugs. The HTML5 spec supports error objects in this method now, so we should use it.

Look into Stacktrace.js, might save us some time: https://github.com/eriwen/javascript-stacktrace
See https://github.com/eriwen/javascript-stacktrace/issues/26 for its onerror support

[2013-10-01 21:18] chillu opened #7 "Force a ?flush=1 on first test run in browser"
Otherwise tests fail in a very unfriendly fashion. And given that CLI and web don't share the same cache folders, a `sake dev/build flush=1` won't fix this either. Keep performance in mind though.

[2013-11-26 20:50] srizzling opened #11 "BrowserStack Support"
BrowserStack support will have to wait till this pull request is pulled in. Looks like BrowserStack has tried to accelerated it. I have personally tested this, and works with SilverStripe Behat Extension with the following behat file:

[code]

https://github.com/Behat/MinkExtension/pull/114#issuecomment-29318348

[2013-11-29 03:09] mandrew opened #16 "Running behat test but not starting selenium brings up unhelpful error"
I ran the behat test vendor/bin/behat @cms/view-reports.feature but forgot to start selenium. After bootstrapping, creating database and starting the test, then the following error appeared:

[Behat\Mink\Exception\DriverException]
  Exception has been thrown in "beforeScenario" hook, defined in SilverStripe\Cms\Test\Behaviour\FeatureContext::before()

  Could not open connection: Curl error thrown

[2013-12-20 00:45] #16 closed, assigned to nobody

[2014-04-01 19:34] chillu opened #29 "Count "saving screenshot" towards error on step"
Currently it shows in the output, but doesn't get saved alongside the step failure in a JUnit log

[2014-05-13 07:06] #11 closed, assigned to nobody

[2014-08-03 01:53] chillu opened #62 "Behat 3 Support"
WIP under https://github.com/silverstripe-labs/silverstripe-behat-extension/tree/experiments/behat-3-upgrade

Requires CMS and Framework branches as well through `composer.json`:

[code]

Since the extension was heavily based on the Symfony2Extension, tracking changes required to get that extension working will provide at least an indication what needs to change (https://github.com/Behat/Symfony2E

[2014-08-11 21:16] tractorcow opened #66 "Refactor BEHAT_SCREEN_SIZE support"
We've implemented a temporary solution at https://github.com/silverstripe-labs/silverstripe-behat-extension/pull/65, but it is necessary to put in place a proper fallback for screen resizing. When the tests are run via travis the PHP setup script is not able to emit environment settings that persist into the actual tests themselves. In https://github.com/silverstripe-labs/silverstripe-travis-suppo

[2014-08-14 23:22] srizzling opened #68 "Upgrading ModuleClassGuesser to implement new"
Brain Dumping for my sake :P:

ModuleContextClassGuesser is how we are able to write tests for separate modules by specifying via `@cms` for example.

https://github.com/Behat/Behat/blob/master/src/Behat/Testwork/Specification/Locator/SpecificationLocator.php

SpecficationLocator requires two methods to be implemented:
- `public function getLocatorExamples()` - This method returns documentation/ex

[2014-09-01 20:47] #66 closed, assigned to nobody

[2015-05-21 11:36] Jinelle opened #86 "Behat extension fails to install"
Hi,

I had issues when trying to install the Behat extension.

EXAMPLE PC:/var/www/html/silverstripe$ composer create-project silverstripe/installer .

EXAMPLE-PC:/var/www/html/silverstripe$ composer require "silverstripe/behat-extension:*"
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could n

[2015-07-07 02:54] jeffreyguo commented on #86
Hi Jinelle,
Could you try this?
[code]

[2015-07-08 09:25] anselmdk opened #89 "Tests randomly end with `Killing test session environment... done!`"
This is happening to me once in a while, usually when running more than one test in a row, e.g. `vendor/bin/behat @mysite`.

It just happened to me again. First time I ran, the test skipped after the second step with `Killing test session environment... done!`.

Running it again ran all tests, and gave the full output::

[code]

I believe it has something to do with this, as that's what's outputte

[2015-07-15 16:49] anselmdk commented on #89
Digging further into this I found out that the method is registered as `register_shutdown_function`, which is apparently triggered by php on a fatal error.
That pointer led me to check my php error log (which I should have done long ago) - and here it was:

    PHP Fatal error:  Allowed memory size of 67108864 bytes exhausted (tried to allocate 273913 bytes) in /.../public/vendor/instaclick/php-we

[2015-07-15 16:49] #89 closed

[2015-07-18 03:17] #86 closed

[2015-07-18 03:19] chillu commented on #86
Sorry for the delay, Jinelle! This happened because the first installer command includes `phpunit/phpunit`, which requires `symfony/yaml:~2.0`. That used to resolve to `2.6` and matched the stricter dependencies in the behat extension (`2.6.x@stable`). But since then `2.7` and `2.8` came out, breaking composer. Really, composer should deal with this situation more gracefully, but what can I say ..

[2015-08-26 02:37] phptek opened #94 "BUG: MinkGoutteDriver requirement assumption"
In framework's `behat.yml` there's a reference to `goutte: ~` but the behat module has no such reference to `MinkGoutteDriver` in its composer file that's required. This means running the following from the CLI results in an error:

    #> vendor/bin/behat @mysite --definitions=i

    [RuntimeException]
    Install MinkGoutteDriver in order to activate goutte session.

Modifying composer.json thus

[2015-11-11 13:27] markguinn commented on #62
Are there any plans for this task to be completed any time soon or are you planning to stay with Behat 2 for the foreseeable future?

[2015-11-11 20:10] tractorcow commented on #62
I think for 4.0 we should probably upgrade behat. But, it's not currently on the official roadmap, so it'll have to wait until someone finds time to finish it. ;)

[2015-11-23 20:04] markguinn commented on #62
Do you have any estimate how big of a task this is for a reasonably good programmer? Are we talking 10 hours or 100 hours or more than that?

[2015-11-23 20:55] chillu commented on #62
I've spent a few hours on it, and it still looked pretty complicated - the whole Behat internals changed. Gut feel would be 2-3 days of work.

[2015-11-24 14:24] dhensby commented on #62
+1 for [codeception](http://codeception.com/) instead :P

[2015-11-24 14:32] markguinn commented on #62
Codeception does make a lot of sense if developers are writing the tests (which is almost always the case with a SilverStripe module)...

[2015-11-24 18:24] stevie-mayhew commented on #62
Codeception makes more sense, especially if SS 4.0 is going to be using PSR-4. Not sure if thats the case, but it should be ;)

[2015-11-24 18:49] dhensby commented on #62
It will be using PSR4 I believe

[2015-11-24 19:10] stevie-mayhew commented on #62
@dhensby as we talked about on Gitter I'm pretty interested in codeception right now and would be willing to put time in getting it up and running for SS. @chillu thoughts / feelings for that against behat?

I realise there is a huge amount of work that has gone into the behat framework and testing for SS and don't want to step in and change something that you have internal knowledge or resource f

[2015-11-25 12:05] dhensby commented on #62
I am 100% for codeception over separated unit tests/behat tests.

It provides a more consistent and simple framework for testing - it's just a big time investment at the moment and I couldn't see a nice way to splitting tests across modules like we do at the moment. Though I only looked into it for half-an-hour about a year ago.

[2015-11-25 20:06] chillu commented on #62
I'd be interested to hear success stories of Codeception first before making that call. It sounds a bit like throwing out the baby with the bathwater: Behat is slow and complex, so Codeception must automatically be better because it looks more like PHP ;)

- Developer friendlyness: Writing Cucumber through regexes and remembering step definitions is a pain. Codeception makes composition easier by

[2015-11-25 20:12] sminnee commented on #62
My view is that if someone out there wanted to do a complete port of the CMS or Framework Behat test suite to Codeception, I'd support its merge, but I wouldn't want to see the tests of a single module sit in a state of being half Behat and half Codeception. I'm not sure what @chillu and the other core committers think of that? Last time I spoke to @dhensby he was keen on Codeception.

Of course,

[2016-01-08 00:02] chillu commented on #94
This has been removed from the `cms` module and `installer` in 2014 (https://github.com/silverstripe/silverstripe-cms/commit/e1f82aba4998a1627c9395e0a2d3277089d60fcd and https://github.com/silverstripe/silverstripe-installer/commit/10dc891fee9fb1bd1bca6c7ffaea742fb6eb365a). I can't find it in the `framework` module in any maintained release branch.

Found a mention of it in some SS Behat docs, rem

[2016-01-08 00:02] #94 closed

[2016-03-01 07:16] anselmdk commented on #62
Just a little support for Behat here.
Beyond using Behat to use frontend functionality, I've now also started to use it to test CMS UX on my projects, and really enjoy how smooth the implementation is. You can actually do quite a lot without having to write any PHP.
I of course haven't tried Codeception, and I agree Behat can be cumbersome to deal with, but I feel the benefits outweight the issues

[2016-04-28 05:39] trev opened #115 "Can't connect to DB and not deleting tmp database"
I'm hoping you can give me a hand here, see if I'm missing something. I'm using this with SS 3.1.

When I visit any page in a scenario (i.e: `Given I am on "/Security/login"`) I get

Also, when I checkout MySQL the temp database never gets cleaned up. So I have a bunch of `ss_tmpdb.....` DBs.

Any guidance would be greatly appreciated.

[2016-05-02 01:16] trev commented on #115
I've debugged this some more and it seems that at this point https://github.com/silverstripe-labs/silverstripe-testsession/blob/master/code/TestSessionEnvironment.php#L173 `$databaseConfig` is totally fine during the setup phases where the tmp database is created an so on. It holds a valid database config such as:

    (
        [type] => MySQLDatabase
        [server] => 192.168.33.10
        [us

[2016-05-02 05:44] trev commented on #115
As a side note, @chillu or @tractorcow or anybody that can help. I'm happy to pay for a quick screen sharing/pairing session to get this working or at the very least identify where it's breaking.

[2016-05-03 06:00] trev commented on #115
If it helps at all, I'm running SS 3.1.18 with silverstripe/behat-extension (1.0.1) and silverstripe/testsession (0.2.0)

[2016-05-04 10:00] dhensby commented on #115
Hey @trev sorry for the silence on this - these problems as usually notoriously difficult for us to debug remotely/through GH issues.

I've only recently got behat tests running on a local VM to test a few things and didn't experience a problem like this.

Are you using an `_ss_environment.php` file? What's your setup/host machine?

[2016-05-05 01:26] trev commented on #115
Hey @dhensby thanks for getting back to me. I was starting to despair :)

I'm running Behat in a Vagrant/Virtualbox VM running Ubuntu 14.04LTS on a standard LAMP stack.

My `_ss_environment.php` is quite simple and looks like this:

    <?php
    global $_file_to_url_mapping;
    $_file_to_url_mapping['/var/www/mysites.dev'] = 'http://mysites.dev';

As mentioned above, I'm a happy to provide a bou

[2016-05-05 10:38] dhensby commented on #115
@trev OK, you're environment file is either not being included or it is part of the problem.

The environment file has to have some constants defined that you don't have otherwise SS will throw an error at you.

Can you define your DB credentials in your environment file and see if that makes a difference? I'm not sure but perhaps the behat extension is looking for the constants that should be def

[2016-05-07 21:14] trev commented on #115
Hi @dhensby, thanks for your help. I'm off on holidays now but it will be the first thing I do when I get back. I'll keep you posted. Thanks again for taking the time to assist me with this.

[2016-05-20 02:43] tractorcow commented on #115
This sounds like a bug in testsession. It should probably work with database configs defined in _mysite.php as well as _ss_environment.php.

@trev how are you declaring your connection details? please post.

[2016-05-21 09:08] dhensby opened #116 "Manually include composer autoload"
At the moment the autoloader is included by framework inside `framework/core/Core.php`

This poses problems when we need to include composer managed packages before `Core.php` is included. I've addressed this issue here https://github.com/silverstripe/silverstripe-framework/pull/5572 by moving the autoloader include to as early in the execution as possible.

To get the behat tests passing we need

[2016-05-22 21:23] sminnee commented on #116
This might be relevant: http://stackoverflow.com/questions/28852162/how-to-require-vendor-autoload-php-with-behat-yml

[2016-05-22 22:36] dhensby commented on #116
Yep, looks like a red herring

[2016-05-22 22:36] #116 closed

[2016-05-31 01:07] trev commented on #115
@dhensby @tractorcow I've finally figured it out. All I needed was a holiday to refresh the mind. Damian was right: it's a testsession issue... kind of.

Basically our main project folder was called: `xellent`. As you know Silverstripe by default loads modules in alphabetical order. `xellent` module is where the database config is handled.

Since `testsession` was therefore loading before `xellent

[2016-06-06 11:43] dhensby commented on #115
thanks for updating us @trev - this is a core issue that would be good to fix.. some way to get the module folders loaded in some particular order :/

[2016-06-06 11:43] #115 closed

[2016-09-13 06:10] sminnee opened #129 "Helper to install selenium"
Since behat tests are 99% used to drive selenium, it would be good if there was a helper in this module to grab and start the selenium server.

A simple approach would be to require `https://github.com/sveneisenschmidt/selenium-server-standalone`.

A more sophisticated approach would be to start and stop selenium automatically, using the initializer.

[2016-12-09 11:31] warslett opened #132 "Typehint on SilverStripeContext::before() incorrect. Breaks any tests using ScenarioOutline"
The typehint used for SilverStripeContext::before() on line 185 is ScenarioEvent. The problem with this is that if your features use ScenarioOutline then the event that gets passed is OutlineExampleEvent. This breaks your tests. The correct Typehint IMO should be the parent class of both these events BaseScenarioEvent. I will try to get a pull request in later today.

[2016-12-09 12:27] dhensby commented on #132
Please do open a PR :)

[2016-12-12 11:38] warslett opened #133 "Errors in SilverStripe::givenTheCurrentTimeIs"
This step doesn't work. The parameter in the method signature is $time but the function calls the variable $date. Another separate issue is a call to InvalidArgumentException which has not been included in scope. The result is that instead of getting a helpful exception when your date format is wrong you get a big ugly Exception not found error.

Will put a PR up for this fairly soon because it is

[2016-12-12 11:43] warslett commented on #133
seems the issue has already been fixed in master. My mistake. I'll close this issue

[2016-12-12 11:55] warslett commented on #133
Sorry reopening again. This is not fixed. I was looking at the function givenTheCurrentDateIs where it works fine. I will open a PR.

[2016-12-12 13:44] dhensby commented on #133
thanks, fixed in #135

[2016-12-12 13:44] #133 closed

[2016-12-13 12:39] warslett commented on #132
fixed in https://github.com/silverstripe/silverstripe-behat-extension/issues/136

[2016-12-13 12:39] #132 closed

[2017-01-05 03:56] chillu opened #137 "Update Selenium dependency"
This module's `composer.json` currently has these requirements:

[code]

The README recommends the following:

...

The [latest Selenium](http://selenium-release.storage.googleapis.com/index.html) release is 2.53. The [latest Firefox ESR](https://www.mozilla.org/en-US/firefox/45.6.0/releasenotes/) is 45.0.

The [Behat/Mink2SeleniumDriver](https://github.com/Behat/MinkSelenium2Driver) does not limi

[2017-01-05 04:02] tractorcow commented on #137
Yes, but you'll run into bugs that appear discretely. Later versions of selenium have issues interacting with some later versions of firefox.

Input fields get concatenated rather than replaced in some instances, for example.

I suspect the issue would be with the version of the mink-selenium2 driver we are on, but upgrading further would be a mess of upgrades that eventuates in us needing to upgr

[2017-01-18 00:03] chillu commented on #62
Laravel has just brought out a nice lightweight browser testing library as well: https://laravel.com/docs/master/dusk. It runs without a Java/Selenium dependency by default, but you can opt-in to that for additional browser support. Doesn't support Cucumber, but I don't think that's necessarily a blocker.

We'll likely need to get some movement here soon, since the Symfony 2.x dependencies in Beha

[2017-01-18 00:13] tractorcow commented on #62
If the amount of work is 2-3 days to upgrade I'll look at taking it on in a side project.

[2017-01-20 02:59] tractorcow commented on #62
I've rebased and updated the prior branch. WIP at:

 https://github.com/open-sausages/silverstripe-framework/commits/pulls/4.0/behat-3-upgrade
 https://github.com/tractorcow/silverstripe-behat3

 Still lots and lots of work to do.

[2017-03-13 05:03] tractorcow commented on #62
![image](https://cloud.githubusercontent.com/assets/936064/23842186/5b137afa-0817-11e7-85f5-e8512628944c.png)

I've made some progress!

[2017-03-13 05:07] tractorcow commented on #62
@chillu this is the new part of the loader; Instead of having a single `behat.yml` config file, we inspect the root for a configured and named suite, and if not found we dynamically load this from the `@named` module.

https://github.com/tractorcow/silverstripe-behat3/blob/experiments/behat-3-upgrade/src/Controllers/ModuleSuiteLocator.php

This means we can use composable configs, and the root con

[2017-03-13 05:08] tractorcow commented on #62
Can you please review this loader to see if this is heading in the right track?

[2017-04-21 04:40] tractorcow commented on #62
Updated: All framework tests are now passing in behat 3 :) moving onto cms

[2017-04-21 05:16] tractorcow commented on #62
most cms tests green, a few failed.

[2017-04-21 05:22] tractorcow commented on #62
[code]

Not bad.

[2017-04-21 05:44] tractorcow commented on #62
[code]

getting closer.

[2017-04-21 06:34] tractorcow commented on #62
CMS tests green, :D

[2017-04-22 04:29] tractorcow commented on #62
framework, asset-admin, and cms tests are all done.

Just need to finish siteconfig tests and ready to PR.

[2017-04-22 11:45] tractorcow commented on #62
PR at https://github.com/silverstripe/silverstripe-behat-extension/pull/152

[2017-05-04 21:29] #62 closed

[2017-05-08 08:34] tractorcow commented on #62
All merged and green.

[2017-05-09 03:24] tractorcow opened #156 "behat --init should add _manifest_exclude to scaffolded php code"
Otherwise class loader will crash if behat-extension isn't installed.

[2017-06-21 08:24] kinglozzer opened #162 "Misleading docs ref. Firefox version"
The installation docs in README.md suggest installing Firefox ESR, stating that it must be a release that’s compatible with Selenium-Webdriver. However, the linked document states:

The latest Firefox ESR release doesn’t work with whichever version of Selenium we’re using. I guessed at version 45, downloaded it from here and all is well now: https://ftp.mozilla.org/pub/firefox/releases/45.0.2esr/m

[2017-06-23 03:16] chillu commented on #162
@kinglozzer Yeah thanks for raising that, just hit the same issue. I had to go even older (31.0), using the same version as Travis CI. See https://github.com/silverstripe/silverstripe-behat-extension/pull/166

[2017-06-23 08:00] #162 closed

[2017-06-29 22:04] phptek commented on #1
I think this can be closed can it not? (If for no other reason other than its being 5 years old, I just init'd my folder hierarchy ala (using 1.0.3)

[code]

[2017-06-29 23:24] phptek opened #168 "Issue using headless Chrome"
OK, so I'm stuck using ~1.0 because I'm using framework 3.6 - all is working, but a heads-up for using Chrome as a headless browser (v59+) that in `SilverStripeContext::before()` you obviously cannot resize a window that isn't there ala

[code]

If I comment this block out, all is well in the world, but leaving it as-is, makes my terminal go blood-red! Sure, in headless mode, AFAIK I cannot - and

[2017-07-04 01:23] tractorcow commented on #137
We've now updated to behat 3. We should prioritise this.

[2017-07-04 01:28] tractorcow commented on #137
@chillu pinging to confirm this should be beta2.

[2017-07-05 13:27] dhensby commented on #137
Perhaps this is why trusty doesn't work? https://github.com/silverstripe/silverstripe-framework/pull/7092

[2017-07-26 21:50] phptek commented on #7
@chillu I come across cache-dir related issues all the time, and I'm sure I've encountered scenarios where some aspect of the F/S cache isn't cleared by flush=<anything> and I need to manually blow away the cache dir _entirely_ - so for a bootstrapped env in which behat is running, couldn't you manually recursively delete the cache dir prior to the test run or just run behat via the webserver user

[2017-07-26 21:57] tractorcow commented on #7
I think this issue is a little out of date:
  - all tests and dev/build are flushed automatically
  - you can't run tests in the browser anymore

@phptek you are right in that we don't trigger a delete on caches on flush; We could do a hard-reset of TEMP_DIR on flush, that that may be a little risky.

How about a flush request processor that iterates all cache definitions in config, and invokes cl

[2017-07-26 22:03] phptek commented on #7
@tractorcow while that might work, and not wanting to irk the crowd, but the original problem to me sounds like something that may best be "fixed" by bootstrapping the environment first, i.e. in calling code or in build pipelines.

[2017-07-27 00:42] dhensby commented on #7
This issue concerns running tests through the browser, which can't be done anymore...

[2017-07-27 00:43] tractorcow commented on #7
@dhensby I initially commented on that too, but this is behat not phpunit.

[2017-07-27 00:44] dhensby commented on #7
Whoops

[2017-07-27 00:50] phptek commented on #7
Whoops...

[2017-09-12 03:57] tractorcow commented on #137
At the moment, there are a bunch of repos that partially work with behat, and some that don't. It appears that modules are being migrated across travis, so while some modules may appear to work for now, we can probably expect them to break UNLESS we move to trusty.

I don't know why everything is broken, but have been experimenting with upgrading firefox / selenium / mink (and various combinations

[2017-09-20 21:03] chillu commented on #137
Removing this from the milestone, since the short term solution was much simpler: Switch to trusty and pin the firefox release. There's still value in getting on the current 3.x Selenium version for Behat, but the underlying ecosystem doesn't support this well. There's an experimental Mink driver for headless Chrome use without going through Selenium, which would be much more interesting to us in

[2017-11-24 02:56] allengeer opened #172 "At Seemingly Random Intervals EmailContext will fail to find an email and throw ungraceful exception"
I will have a functioning email test for some period of time, then randomly the check to find the email will throw a nasty exception... Any ideas?

[code]

[2018-01-18 21:45] tractorcow commented on #137
I've setup a fork of mink-selenium2-driver, and re-vendored it.

My project composer.json for this project is as below (and I'll update as I go along).

[code]

[2018-01-19 02:00] tractorcow commented on #137
Progress so far:
 - framework behat green
 - cms behat green

To do:
 - asset-admin
 - campaign admin
 - travis setup

[2018-01-19 04:16] tractorcow commented on #137
@ingo ready to review.

[2018-03-22 21:16] tractorcow commented on #137
Root behat.yml to use.

[code]

[2018-04-11 04:35] tractorcow commented on #137
I'm in the middle of deploying these; I've stopped just before the "point of no return" hehe.

[2018-05-01 03:06] robbieaverill opened #175 "Move Scrutinizer repo over to "silverstripe""
Hey @dhensby, another one of these for you =)

https://scrutinizer-ci.com/g/silverstripe-labs/silverstripe-behat-extension/

[2018-05-01 10:09] dhensby commented on #175
I'm not an admin for some reason - I've contacted their support again...

[2018-05-01 10:15] robbieaverill commented on #175
Sweet as

[2018-05-02 11:07] dhensby commented on #175
@assertchris it looks like you are admin on this scrutinzer - can you add the repo to the silverstripe-labs organisation, please?

[2018-05-02 11:16] dhensby commented on #175
Or just make me an admin ;) same as with https://github.com/silverstripe/silverstripe-sharedraftcontent/issues/72#issuecomment-353331568

[2018-05-03 07:52] assertchris commented on #175
I've added you to every repo I control on there. Tried to remove myself but apparently I can't.

[2018-05-03 09:50] dhensby commented on #175
thanks @assertchris 🎉

[2018-05-03 09:53] dhensby commented on #175
moved over

[2018-05-03 09:53] #175 closed

[2018-05-03 10:39] assertchris commented on #175
How did you move it over? Could you do the rest I added you to? I don't wanna be the bottleneck for these kinds of issues...

[2018-05-03 10:40] dhensby commented on #175
@assertchris if I'm added to them now, the moving them over will not be an issue going forward :)

It's just updating the repository URL (as we moved a few repos from `silverstripe-labs` to `silverstrip` org

[2018-05-06 22:45] robbieaverill opened #177 "Add step definition to support asserting that form fields are readonly"
We currently have `BasicContext::stepFieldShouldBeDisabled`:

[code]

It'd be great to have the same thing but for readonly fields.

[2018-06-29 11:47] dhensby commented on #3
@chillu is this still relevant 5 years on?

[2018-06-29 21:00] dhensby commented on #68
This sounds like a new feature rather than a bug and it doesn't appear to have had much progress over the last 4 years.

@srizzling do you have any plans to get this over the line? Perhaps it is and the issue is just stale?

I'm going to close it until we hear back, feel free to reopen

[2018-06-29 21:00] #68 closed

[2018-06-30 19:13] dhensby commented on #172
is this still a problem?

[2018-07-01 22:25] #3 closed, assigned to chillu

[2018-07-13 00:38] maxime-rainville commented on #156
I'm not 100% sure how I would go about reproducing this. I'll set a low impact for now.

[2018-07-13 01:39] robbieaverill commented on #156
To be fair, we don't even need to scaffold any PHP code when initialising behat for modules or projects any more. You can just create a behat.yml that uses the default feature and fixture contexts and get started right away with defining features. In the past you'd have also created your own feature context classes but that's not necessary any more.

[2018-07-13 01:39] #156 closed

[2018-07-13 02:42] maxime-rainville commented on #168
@phptek Sorry where not fixing anymore SilverStripe 3 bug unless they are security issues.

If you think this affects SS4, let us know and I'll reopen the issue.

[2018-07-13 02:43] #168 closed

[2018-08-08 05:19] raissanorth opened #180 "FixtureFactory does not apply data relations correctly"
I am trying to add an `ElementalPageExtension` to `Page` via the `ConfigContext`.

It appears that the `FixtureFactory` is not saving the relations correctly. At the time of object creation the extension is not applied. If we add the extension manually before creating the object it almost works, but we have to query the database directly, so that the relation gets saved correctly in the database.

[2018-08-08 22:06] tractorcow commented on #180
Can you add another `Given I visit "dev/build?flush=1"` (or similar step) after setting the config, but prior to setting up the fixture rows? maybe that will fix it.

[2018-08-08 23:07] ScopeyNZ commented on #180
Hey Damian. Raissa had that in the feature. Forgot to mention that!

[2018-08-08 23:11] tractorcow commented on #180
Oh right, it won't work because you need to add the extension to the context of the CLI process running behat, not the web process getting flushed.

In that case, you may need yet another behat fixture for `and I add an extension "" to ""` class, which occurs in the CLI context. sorry!

[2018-08-08 23:16] ScopeyNZ commented on #180
That feels like something we could PR into this repo? We'll test if it works first.

[2018-08-13 22:24] #1 closed, assigned to nobody

[2018-08-13 23:03] robbieaverill commented on #180
New fixture step for `and I add an extension...` works

[2018-08-14 00:10] ScopeyNZ commented on #180
There's a bit of scaffolding required for this:

- Create a config file
- Use the step "I have config file..."
- Step "visit dev/build?flush"
- _Custom_ step "and I add an extension"

I think we should add a step to this repo that does all that automatically, then we don't have the weird double up of a config file and the custom step so the CLI context knows what's going on. Thoughts?

Additionall

[2018-08-14 04:47] raissanorth commented on #180
We're going to change the background to be a list of UI steps to create elements rather than use a fixture factory.

We've tried to use the fixture factory to create a Page -> has_one -> ElementalArea (created onBeforeWrite in Page) -> has_many -> ElementContent assigned to the ElementalArea. When placing a breakpoint after this fixture definition and inspecting the database we see the relationshi

[2018-08-28 01:41] robbieaverill opened #182 "behat-ss is not ready for Travis"
I just had a quick go at swapping Travis config over to use `vendor/bin/behat-ss` instead of `vendor/bin/behat` (commit: https://github.com/creative-commoners/silverstripe-versioned-admin/commit/b6611f9db7ae8d365b996ed3141d2fade701924e).

The tests pass, but stdout is full of network requests: https://travis-ci.org/creative-commoners/silverstripe-versioned-admin/jobs/421364280

Example:

[code]

I

[2018-09-28 01:29] flashbackzoo opened #183 "Installation guide version mismatch"
Hi,

Following the installation guide results in this error:

`Unrecognized option "facebook_web_driver"`

The problem is the default branch on GitHub is `4` and running `composer require --dev silverstripe/behat-extension` pulls down `^3`.

Installing with `composer require --dev silverstripe/behat-extension ^4` resolves the issue.

Not sure if this needs to be a docs change or whether Packagist

[2018-09-28 08:59] robbieaverill commented on #183
I don't think the 4.x version is stable yet which might be why you get 3.x by default. Perhaps we need to stabilise that release line...

[2018-11-08 05:30] maxime-rainville commented on #183
Considering it's running all our builds, I think it's probably good enough to call it stable.

Presumably that's not part of our normal release cycle and we just need to create stable tag?

[2018-11-09 09:21] robbieaverill commented on #183
4.0.0 tagged

[2018-11-09 09:21] #183 closed

[2019-03-12 07:50] altwohill opened #187 "Windows support"
Running `vendor/bin/behat-ss @mymodule`

Gives the following error:

event though there is a .bat file in the vendor/bin folder.

[2019-03-12 20:17] dnsl48 commented on #187
I think that's rather `vendor/bin/behat-ss` itself [is a bash script](https://github.com/silverstripe/silverstripe-behat-extension/blob/4/bin/behat-ss).

You may use `vendor/bin/behat` instead. `vendor/bin/behat-ss` only launches `chromedriver` and `vendor/bin/serve` apart from `vendor/bin/behat`.

I'm actually not sure this script is worth existing at all as it implies you running things locally

[2019-03-18 20:03] dnsl48 commented on #187
I'd suggest we remove this script completely.
But if someone wants, could rewrite it in PHP.

[2019-03-18 22:51] robbieaverill commented on #187
-1 for removing it, I use it all the time. We could easily write an equivalent for Windows though

[2020-07-06 22:17] chillu commented on #129
No longer Selenium based, using Chromedriver woooo!

[2020-07-06 22:17] #129 closed

[2020-07-07 00:49] chillu opened #194 "Snapshots modules break behat install (symfony/config constraints fail)"
Just noting this here to avoid anyone else going down this rabbit hole. The actual issue is https://github.com/silverstripe/silverstripe-event-dispatcher/issues/8

[2020-10-14 00:30] chillu commented on #187
I've clarified in the README that running this script requires bash

[2020-10-14 00:30] #187 closed

[2021-01-20 21:30] emteknetnz opened #198 "PHP8 support"
**Blocked waiting for all the phpunit9 PRs to be merged**

Get behat installable and running on a local environment running PHP8

This will require upgrading the behat/behat dependency from 3.2 to ^3.8 - https://github.com/Behat/Behat/releases/tag/v3.8.0

### ACs
- This module is PHP8 compatible
- This change has been tested through a Travis CI build to prove it works - silverstripe/admin could be

[2021-04-12 02:59] emteknetnz opened #200 "Add iClickTheElement function"
iClickTheElement is a very useful function that should be in behat-extension

Previously have put a iClickTheElement directly few modules

- https://github.com/silverstripe/silverstripe-asset-admin/blob/1/tests/behat/src/FixtureContext.php#L360
- https://github.com/silverstripe/silverstripe-campaign-admin/blob/1/tests/behat/src/FixtureContext.php#L239
- https://github.com/silverstripe/silverstripe

[2021-04-14 23:53] emteknetnz commented on #200
Behat really doesn't like iClickTheElement being in both behat-extension AND a module Feature/FixtureContext - specifically duplicated docblock regex `@Given /^I click the "([^"]+)" element$/` causes the behat to simply not work.  Changing the regex in one location causes behat to function again.  The name of the function doesn't matter because it's in different classes.

Given this, I'm not sure

[2021-04-15 00:10] emteknetnz commented on #200
Based on https://english.stackexchange.com/questions/53794/when-to-use-click-and-click-on

'Click on' may actually be actually be more semantically correct

tl;dr

You 'click' a mouse button

You 'click on' a text link using a mouse button

[2021-04-22 00:29] #200 closed, assigned to bergice

[2021-11-08 02:31] emteknetnz commented on #198
Running behat with php8 worked - https://github.com/emteknetnz/silverstripe-admin/runs/4134074742?check_suite_focus=true

Using this gha config on emteknetnz/silverstripe-admin
[code]

[2021-11-08 02:31] #198 closed, assigned to nobody

[2022-03-21 04:22] tim-mediasuite opened #209 "BasicContext::iWaitUntilISeeText won't find visible text on a page if there's an invisible version earlier"
https://github.com/silverstripe/silverstripe-behat-extension/blob/4/src/Context/BasicContext.php#L1149

I'm reading this as, effectively,

1. find the first element on the page containing $text
2. return true/false depending on if the element is visible

But if there's another visible version of the text on the page, it'll never be found.

(This came up with tests on the CMS admin where test text

[2022-03-21 08:22] dhensby commented on #209
Fixing this makes sense to me, but it's hard to know the impact without seeing some test suites run with the change.

If you have done the patch and opening a PR is relatively trivial for you, I think that would be good to do so we can see the impact.

[2022-03-27 03:58] emteknetnz commented on #209
Unlikely to have to much impact on existing tests IMO, so PR makes sense

Opening a PR on behat extension won't reveal the impact because all the core behat tests on things like asset-admin won't be run by the PR.  It's ok, I think we should do this and I can fix up any regressed tests later

[2022-03-28 20:39] tim-mediasuite commented on #209
I've tested this against our existing suite that was testing a CMS admin page.

[2022-03-29 01:12] emteknetnz commented on #209
Great ta, I've released as a new minor [4.9.0](https://github.com/silverstripe/silverstripe-behat-extension/releases/tag/4.9.0) due to it technically being a behavioral change

[2022-03-31 02:23] tim-mediasuite commented on #209
Looks good, cheers.

[2022-03-31 02:23] #209 closed, assigned to nobody

[2022-04-07 01:19] GuySartorelli commented on #194
The issue linked to has been closed as fixed, so I'm closing this as well.

[2022-04-07 01:19] #194 closed, assigned to nobody

[2022-08-07 22:26] maxime-rainville opened #220 "Review behat tests to avoid using admin users"
A lot of our behat tests are using users with full admin privileges. This may be obfuscating bugs where a regular users ought to be able to perform some actions.

List of Behat tests : https://docs.google.com/spreadsheets/d/1wWJ2sBcFzPrTbaChxZd6rLKqSGxsLou4cif5WKuj7zc/edit?usp=sharing

## Acceptance criteria
- [x] Review all supported modules with Behat test and update test to use non-admin users

[2022-08-18 04:34] sabina-talipova commented on #220
List of modules, running behat tests with ADMIN permissions:
- [x] silverstripe-elemental
- [x] silverstripe-elemental-userforms
- [x] admin
- [x] asset-admin
- [x] blog
- [x] campaign-admin
- [x] ckan-registry
- [x] cms
- [x] contentreview
- [x] elemental-bannerblock
- [x] elemental-fileblock
- [x] externallinks
- [x] mfa
- [x] securityreport
- [x] session-manager
- [x] sharedraftcontent
- [x] si

[2022-08-24 03:24] sabina-talipova commented on #220
List of test cases: https://docs.google.com/spreadsheets/d/1wWJ2sBcFzPrTbaChxZd6rLKqSGxsLou4cif5WKuj7zc/edit#gid=0

[2022-09-07 02:55] shafquatnz opened #224 "built in tests broken, possibly due to bad php-doc annotations"
**Problem**

On a clean installation with minimal scaffolding, the following behat tests fail:

[code]

**Initial diagnosis**

"The first test" fails because the library creates the page with the url segment "foobar" instead of "baz". Put in a breakpoint and you will see the wrong URLSegment value on the table SiteTree_Live in the tmp database.

"The second test" result in an error: “Fatal error:

[2022-09-15 01:35] sabina-talipova commented on #220
I removed PR https://github.com/silverstripe/silverstripe-contentreview/pull/172 from this task and append it to https://github.com/silverstripe/silverstripe-contentreview/pull/155, because it is more related to `silverstripe-contentreview` PR

[2022-09-15 22:45] GuySartorelli commented on #220
PRs are all merged.

[2022-09-15 22:45] #220 closed, assigned to ChloeSartorelli

[2022-10-10 02:58] maxime-rainville commented on #224
The first test is broken because the `URL` parameter should be `URLSegment`.
[code]

The second test looks broken because `FixtureContext::stepCreateRecordWithTable()` seems to expect a different call signature.

This PR fixes it https://github.com/silverstripe/silverstripe-behat-extension/pull/226, but I'm not 100% sure if that's the best way.

[2022-10-16 23:28] shafquatnz commented on #224
thanks @maxime-rainville

Can you please fix "Checks the order of two texts" in vendor\silverstripe\behat-extension\src\Context\BasicContext.php which is also broken?

Also can you update the "Examples" in the file changing URL to URLSegment? Here's an [example](https://github.com/silverstripe/silverstripe-behat-extension/blob/65177937f15c06cbd27390631504fb410c2c9289/src/Context/FixtureContext.php

[2022-10-30 10:29] maxime-rainville commented on #224
@shafquatnz Honestly, this a low priority for us.

If you want to do PRs for those other issue, we would be happy to have a look at them.